RESEND_API_KEY=re_your_resend_api_key_here
RESEND_FROM_EMAIL=MetaFlow <hello@yourdomain.com>
LEAD_NOTIFY_EMAIL=you@yourdomain.com
RESEND_SEGMENT_ID=seg_your_optional_resend_segment_id
AFFILIATE_URL=https://l1nq.com/nrnyrkw
